/* ! Start Global Rules */
:root {
  --main-color: #2196f3;
  --alt-color: #1787e0;
  --trasnition-duration: 0.3s;
  --main-padding: 100px;
  --background-dark: #ececec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;

  body {
    font-family: "Cairo", sans-serif;
    user-select: none;

    a {
      color: black;
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    #top {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      position: fixed;
      bottom: 20px;
      right: -1000px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-color: #2195f38f;
      z-index: 99;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      transition: var(--trasnition-duration);
      -webkit-transition: var(--trasnition-duration);
      -moz-transition: var(--trasnition-duration);
      -ms-transition: var(--trasnition-duration);
      -o-transition: var(--trasnition-duration);
    }

    #top .top {
      font-size: 20px;
      color: white;
      transition: var(--trasnition-duration);
      -webkit-transition: var(--trasnition-duration);
      -moz-transition: var(--trasnition-duration);
      -ms-transition: var(--trasnition-duration);
      -o-transition: var(--trasnition-duration);
    }

    #top:hover .top {
      transform: translateY(-4px);
      -webkit-transform: translateY(-4px);
      -moz-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      -o-transform: translateY(-4px);
    }

    .scroller {
      position: fixed;
      left: 0;
      top: 0;
      height: 3px;
      width: 0;
      background-color: var(--main-color);
      z-index: 9999;
    }
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  /** Small */
  @media (min-width: 768px) {
    width: 750px;
  }

  /** Medium */
  @media (min-width: 992px) {
    width: 970px;
  }

  /** Large */
  @media (min-width: 1200px) {
    width: 1170px;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color)
}

::-webkit-scrollbar-thumb:hover {
  background: var(--alt-color)
}

/* ? Start Main Title */
.main-title {
  border: 2px solid black;
  padding: 10px 20px;
  margin: 10px auto 80px;
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  position: relative;
  z-index: 1;
  transition: var(--trasnition-duration);
  -webkit-transition: var(--trasnition-duration);
  -moz-transition: var(--trasnition-duration);
  -ms-transition: var(--trasnition-duration);
  -o-transition: var(--trasnition-duration);

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color);
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  &:hover::before {
    z-index: -1;
    animation: left-move calc(var(--trasnition-duration) * 2) linear forwards;
    -webkit-animation: left-move calc(var(--trasnition-duration) * 2) linear forwards;
  }

  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color);
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  &:hover::after {
    z-index: -1;
    animation: right-move calc(var(--trasnition-duration) * 2) linear forwards;
    -webkit-animation: right-move calc(var(--trasnition-duration) * 2) linear forwards;
  }

  &:hover {
    color: white;
    border: 2px solid var(--main-color);
    transition-delay: calc(var(--trasnition-duration) * 2);
  }
}

/* ? End Main Title */
/* ! End Global Rules */
/* ! Start Header */
.header {
  /* * Local Variable */
  --header-height: 63.52px;

  background-color: white;
  box-shadow: 0 0 10px #ddd;
  position: relative;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .logo {
      height: var(--header-height);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--main-color);
      font-weight: bold;
      font-size: 30px;
      text-decoration: none;

      @media(max-width: 767px) {
        width: 100%;
        margin-bottom: -12px;
      }
    }

    .items {
      display: flex;

      @media(max-width: 767px) {
        margin: auto;
      }

      li {
        a {
          height: var(--header-height);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 22px;
          height: 100%;
          font-size: 18px;
          font-weight: 600;
          position: relative;
          transition: var(--trasnition-duration);
          -webkit-transition: var(--trasnition-duration);
          -moz-transition: var(--trasnition-duration);
          -ms-transition: var(--trasnition-duration);
          -o-transition: var(--trasnition-duration);
          overflow: hidden;

          @media(max-width: 767px) {
            padding: 12px;
            font-size: 14px;
            height: 50px;
            font-weight: 700;
          }

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: var(--main-color);
            top: 0;
            left: -100%;
            transition: var(--trasnition-duration);
            -webkit-transition: var(--trasnition-duration);
            -moz-transition: var(--trasnition-duration);
            -ms-transition: var(--trasnition-duration);
            -o-transition: var(--trasnition-duration);
          }
        }

        & a:hover {
          color: var(--main-color);
          background-color: #fafafa;

          &::before {
            left: 0;
          }
        }

        &:hover .mega-menu {
          opacity: 1;
          z-index: 2;
          top: calc(100% + 1px);
        }
      }
    }
  }

  .mega-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    padding: 25px;
    background-color: white;
    width: 87%;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    opacity: 0;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    transition: top calc(var(--trasnition-duration) * 2), calc(var(--trasnition-duration) * 2);
    -webkit-transition: top calc(var(--trasnition-duration) * 2), calc(var(--trasnition-duration) * 2);
    -moz-transition: top calc(var(--trasnition-duration) * 2), calc(var(--trasnition-duration) * 2);
    -ms-transition: top calc(var(--trasnition-duration) * 2), calc(var(--trasnition-duration) * 2);
    -o-transition: top calc(var(--trasnition-duration) * 2), calc(var(--trasnition-duration) * 2);

    @media(max-width: 767px) {
      flex-direction: column;
      gap: 0;
    }

    img {
      max-width: 115%;

      @media(max-width: 991px) {
        display: none;
      }
    }

    .links {
      min-width: 240px;
      flex: 1;

      li {
        a {
          display: block;
          padding: 15px;
          color: var(--main-color);
          font-size: 18px;
          font-weight: 700;

          @media(max-width: 767px) {
            font-weight: 500;
            font-size: normal;
          }
        }

        i {
          margin-right: 10px;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #dddddd;
        }
      }

      @media(max-width: 767px) {
        &:first-of-type li:last-child {
          border-bottom: 1px solid #dddddd;
        }
      }
    }
  }
}

/* ! End Header */
/* ! Start landing */
.landing {
  position: relative;

  @media(max-width: 991px) {
    max-height: calc(75vh - 63.52px);
  }

  .container {
    min-height: calc(95vh - 63.52px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;

    .text {
      flex: 1;

      @media(max-width: 991px) {
        text-align: center;
      }

      h1 {
        font-size: 40px;
        letter-spacing: -2px;
        margin: 0;

        @media(max-width: 991px) {
          font-size: 32px;
        }
      }

      p {
        line-height: 1.6;
        color: #777;
        margin: 10px 0 0;
        max-width: 600px;
        font-size: 18px;
        font-weight: 600;

        @media(max-width: 991px) {
          margin: 10px auto;
          font-size: 16px;
        }
      }
    }

    img {
      position: relative;
      width: 600px;
      max-width: 100%;
      animation: up-and-down calc(var(--trasnition-duration) * 10) linear infinite;
      -webkit-animation: up-and-down calc(var(--trasnition-duration) * 10) linear infinite;

      @media(max-width: 991px) {
        display: none;
      }
    }
  }

  .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: var(--trasnition-duration);
    -webkit-transition: var(--trasnition-duration);
    -moz-transition: var(--trasnition-duration);
    -ms-transition: var(--trasnition-duration);
    -o-transition: var(--trasnition-duration);
    font-size: 14px;

    &:hover {
      color: var(--alt-color);
    }

    i {
      animation: bouncing 1.5s infinite;
      -webkit-animation: bouncing 1.5s infinite;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ECECEC;
    z-index: -1;
    transform: skewY(-6deg);
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    transform-origin: top left;
  }
}

/* ! End landing */
/* ! Start Articles */
.articles {
  padding: var(--main-padding) 0;
  margin-top: 20px;
  position: relative;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;

    .box {
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      box-shadow: 0 2px 15px rgb(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 2px 15px rgb(0, 0, 0, 0.1);
      background-color: white;
      overflow: hidden;
      transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
      -webkit-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
      -moz-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
      -ms-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
      -o-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 2px 15px rgb(0, 0, 0, 0.2);
      }

      img {
        width: 100%;
        max-width: 100%;
      }

      .content {
        padding: 20px;
        border-bottom: 1px solid #f0f0f0;

        h3 {
          padding-bottom: 12px;
        }

        p {
          line-height: 1.5;
          color: #777;
        }
      }

      .info {
        padding: 18px;
        padding-left: 20px;
        position: relative;
        color: var(--main-color);

        a {
          color: var(--main-color);
          font-weight: bold;
        }

        svg {
          right: 20px;
          position: absolute;
        }
      }

      &:hover svg {
        animation: moving-arrow calc(var(--trasnition-duration) * 2) linear infinite;
        -webkit-animation: moving-arrow calc(var(--trasnition-duration) * 2) linear infinite;
      }
    }
  }
}

/* ! End Articles */
/* ! Start Gallery */
.gallery {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: var(--background-dark);

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .box {
      padding: 12px;
      background-color: white;
      box-shadow: 0 2px 15px rgb(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 12px 20px rgb(0, 0, 0, 0.1);

      .image {
        position: relative;
        overflow: hidden;

        img {
          max-width: 100%;
          max-height: 100%;
          transition: var(--trasnition-duration);
          -webkit-transition: var(--trasnition-duration);
          -moz-transition: var(--trasnition-duration);
          -ms-transition: var(--trasnition-duration);
          -o-transition: var(--trasnition-duration);
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          background-color: rgb(255 255 255 / 20%);
          width: 0px;
          height: 0px;
          opacity: 0;
          z-index: 2;
        }

        &:hover {
          &::before {
            animation: flashing 0.7s;
            -webkit-animation: flashing 0.7s;
          }

          & img {
            transform: rotate(6deg) scale(1.1);
            -webkit-transform: rotate(6deg) scale(1.1);
            -moz-transform: rotate(6deg) scale(1.1);
            -ms-transform: rotate(6deg) scale(1.1);
            -o-transform: rotate(6deg) scale(1.1);
          }
        }
      }
    }
  }
}

/* ! End Gallery */
/* ! Start Features */
.features {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: white;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .box {
      border: 1px solid #ccc;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      overflow: hidden;
      text-align: center;

      .img-holder {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        img {
          width: 100%;
          max-width: 100%;
        }

        &::before {
          content: "";
          position: absolute;
          border-width: 0px 0px 170px 500px;
          border-color: transparent transparent white transparent;
          border-style: solid;
          margin-bottom: -4px;
          z-index: 999;
          bottom: 4px;
          right: 0;
          transition: var(--trasnition-duration);
          -webkit-transition: var(--trasnition-duration);
          -moz-transition: var(--trasnition-duration);
          -ms-transition: var(--trasnition-duration);
          -o-transition: var(--trasnition-duration);
        }
      }

      &:hover .img-holder::before {
        border-width: 170px 500px 170px 0;
        padding-bottom: 20px;
      }

      h2 {
        position: relative;
        font-size: 40px;
        margin: auto;
        width: fit-content;

        &::after {
          content: "";
          position: absolute;
          width: calc(100% - 30px);
          height: 4px;
          bottom: -20px;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
        }
      }

      p {
        line-height: 2;
        font-size: 18px;
        margin: 30px 0;
        padding: 25px;
        color: #777;
        font-weight: 600;
        line-height: 1.8;
      }

      a {
        display: block;
        border: 3px solid transparent;
        width: fit-content;
        margin: 0 auto 30px;
        font-weight: bold;
        font-size: 22px;
        padding: 10px 30px;
        border-radius: 6px;
        transition: calc(var(--trasnition-duration) * 2);
        -webkit-transition: calc(var(--trasnition-duration) * 2);
        -moz-transition: calc(var(--trasnition-duration) * 2);
        -ms-transition: calc(var(--trasnition-duration) * 2);
        -o-transition: calc(var(--trasnition-duration) * 2);
      }

      &:hover a {
        background-position: left bottom;
        color: white;
      }
    }
  }

  .quality {
    .img-holder::after {
      background-color: rgb(244 64 54 / 60%);
    }

    h2::after {
      background-color: #f44036;
    }

    a {
      color: #f44036;
      border-color: #f44036 !important;
      background: linear-gradient(to right, #f44036 50%, white 70%);
      background-size: 200% 100%;
      background-position: right 111%;
    }
  }

  .time {
    .img-holder::after {
      background-color: rgb(0 150 136 / 60%);
    }

    h2::after {
      background-color: #009688;
    }

    a {
      color: #009688;
      border-color: #009688 !important;
      background: linear-gradient(to right, #009688 50%, white 70%);
      background-size: 200% 100%;
      background-position: right 111%;
    }
  }

  .passion {
    .img-holder::after {
      background-color: rgb(3 169 244 / 60%);
    }

    h2::after {
      background-color: #03a9f4;
    }

    a {
      color: #03a9f4;
      border-color: #03a9f4 !important;
      background: linear-gradient(to right, #03a9f4 50%, white 70%);
      background-size: 200% 100%;
      background-position: right 111%;
    }
  }
}

/* ! End Features */
/* ! Start Testimonials */
.testimonials {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: var(--background-dark);

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .box {
      padding: 20px;
      background-color: white;
      box-shadow: 0 2px 15px rgb(0, 0, 0, 0.07);
      -webkit-box-shadow: 0 12px 20px rgb(0, 0, 0, 0.07);
      position: relative;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
      -webkit-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
      -moz-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
      -ms-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
      -o-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
      border: 2px solid var(--main-color);

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 2px 15px rgb(0, 0, 0, 0.2);
      }

      img {
        position: absolute;
        top: -50px;
        right: -10px;
        width: 100px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 10px solid var(--background-dark);
      }

      h3 {
        color: var(--main-color);
        padding-bottom: 5px;
      }

      span {
        color: black;
        font-weight: 600;
        font-size: 14px;
      }

      .rate {
        padding-top: 10px;

        .filled {
          color: #ffc107;
        }
      }

      p {
        padding-top: 10px;
        color: #777;
        line-height: 1.5;
      }
    }
  }
}

/* ! End Testimonials */
/* ! Start Team Member  */
.team {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: white;
  z-index: 1;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .box {
      position: relative;

      &::before {
        content: "";
        background-color: #f3f3f3;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        border-radius: 10px;
        transition: var(--trasnition-duration);
        -webkit-transition: var(--trasnition-duration);
        -moz-transition: var(--trasnition-duration);
        -ms-transition: var(--trasnition-duration);
        -o-transition: var(--trasnition-duration);
        width: calc(100% - 60px);
        z-index: -2;
      }

      &::after {
        content: "";
        background-color: #f3f3f3;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        border-radius: 10px;
        transition: var(--trasnition-duration);
        -webkit-transition: var(--trasnition-duration);
        -moz-transition: var(--trasnition-duration);
        -ms-transition: var(--trasnition-duration);
        -o-transition: var(--trasnition-duration);
        background-color: #e4e4e4;
        width: 0;
        z-index: -1;
      }

      &:hover::after {
        width: calc(100% - 60px);

      }

      .data {
        display: flex;
        align-items: center;
        padding-top: 60px;

        img {
          width: calc(100% - 60px);
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          transition: var(--trasnition-duration);
          -webkit-transition: var(--trasnition-duration);
          -moz-transition: var(--trasnition-duration);
          -ms-transition: var(--trasnition-duration);
          -o-transition: var(--trasnition-duration);
        }

        .social {
          width: 60px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;

          a {
            width: 60px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          i {
            color: #777;
            transition: var(--trasnition-duration);
            -webkit-transition: var(--trasnition-duration);
            -moz-transition: var(--trasnition-duration);
            -ms-transition: var(--trasnition-duration);
            -o-transition: var(--trasnition-duration);
          }
        }
      }

      &:hover {
        &::after {
          width: calc(100% - 60px);
        }

        img {
          filter: grayscale(90%);
          -webkit-filter: grayscale(90%);
        }
      }

      .info {
        padding-left: 80px;

        h3 {
          padding-top: 20px;
          margin-bottom: 0;
          color: var(--main-color);
          font-size: 22px;
          transition: var(--trasnition-duration);
          -webkit-transition: var(--trasnition-duration);
          -moz-transition: var(--trasnition-duration);
          -ms-transition: var(--trasnition-duration);
          -o-transition: var(--trasnition-duration);
        }

        p {
          margin-top: 10px;
          margin-bottom: 25px;
        }
      }

      &:hover .info h3 {
        color: var(--alt-color);
      }

      &:hover a {
        &:nth-of-type(1) svg {
          color: #1877f2;
        }

        &:nth-of-type(2) svg {
          color: #333;
        }

        &:nth-of-type(3) svg {
          color: #0a66c2;
        }

        &:nth-of-type(4) svg {
          color: #5865f2;
        }

        &:nth-of-type(5) svg {
          color: #ff0000;
        }
      }
    }
  }
}

/* ! End Team Member */
/* ! Start Services */
.services {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: var(--background-dark);

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    .box {
      background-color: white;
      box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
      -webkit-box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
      position: relative;
      transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
      -webkit-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
      -moz-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
      -ms-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
      -o-transition: transform var(--trasnition-duration), box-shadow var(--trasnition-duration);
      counter-increment: services;

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        top: -3px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        background-color: var(--main-color);
        transition: var(--trasnition-duration);
        -webkit-transition: var(--trasnition-duration);
        -moz-transition: var(--trasnition-duration);
        -ms-transition: var(--trasnition-duration);
        -o-transition: var(--trasnition-duration);
      }

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 2px 15px rgb(0, 0, 0, 0.2);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);

        &::before {
          width: 100%;
        }
      }

      svg {
        margin: 30px auto 20px;
        color: #d5d5d5;
        display: block;
        text-align: center;
      }

      h3 {
        text-align: center;
        font-size: 25px;
        color: var(--main-color);
        margin-bottom: 30px;
      }

      .info {
        padding: 15px;
        position: relative;
        background-color: #f9f9f9;
        text-align: right;

        &::before {
          content: "0"counter(services);
          position: absolute;
          top: 0;
          left: 0;
          background-color: var(--alt-color);
          height: 100%;
          width: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-weight: bold;
          font-size: 25px;
          padding-right: 15px;
        }

        &::after {
          content: "";
          position: absolute;
          height: calc(100% + 0.4px);
          left: 80px;
          top: 0;
          background-color: #d5d5d5;
          width: 50px;
          transform: skewX(-30deg);
          -webkit-transform: skewX(-30deg);
          -moz-transform: skewX(-30deg);
          -ms-transform: skewX(-30deg);
          -o-transform: skewX(-30deg);
        }

        a {
          color: var(--main-color);
        }
      }
    }
  }
}

/* ! End Services */
/* ! Start Skills */
.our-skills {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: white;

  .container {
    display: flex;
    align-items: center;

    img {
      @media (max-width: 991px) {
        display: none;
      }
    }

    .skills {
      flex: 1;

      .skill {
        h3 {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            font-size: 14px;
            color: var(--main-color);
            border: 1px solid #d5d5d5;
            padding: 3px 5px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
          }
        }

        .the-progress {
          position: relative;
          height: 30px;
          background-color: #eee;
          margin: 12px 0;

          span {
            display: block;
            height: 100%;
            width: 0;
            background-color: var(--main-color);
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            transition: calc(var(--trasnition-duration) * 12);
            -webkit-transition: calc(var(--trasnition-duration) * 12);
            -moz-transition: calc(var(--trasnition-duration) * 12);
            -ms-transition: calc(var(--trasnition-duration) * 12);
            -o-transition: calc(var(--trasnition-duration) * 12);
          }
        }
      }
    }
  }
}

/* ! End Skills */
/* ! Start Work Steps */
.work-steps {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: var(--background-dark);

  .container {
    display: flex;
    align-items: center;

    @media(max-width: 991px) {
      flex-direction: column;
    }

    img {
      max-width: 100%;

      @media(max-width: 991px) {
        margin: 0 0 50px;
      }
    }

    .info {
      .box {
        border: 2px solid white;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        padding: 20px;
        margin: 20px;
        position: relative;
        background-color: #f6f5f5;
        margin-left: 80px;
        z-index: 1;
        overflow: hidden;

        @media(max-width: 767px) {
          flex-direction: column;
          margin-left: 15px;
        }

        img {
          position: absolute;
          width: 70px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          margin: 0 28px;
        }

        .text {
          padding-left: 100px;

          h3 {
            font-size: 23px;
            margin: 15px 0;
          }

          p {
            color: #777;
            font-size: 18px;
            line-height: 1.6;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          background-color: #ededed;
          width: 0px;
          height: 0px;
          z-index: -1;
          transition: var(--trasnition-duration);
          -webkit-transition: var(--trasnition-duration);
          -moz-transition: var(--trasnition-duration);
          -ms-transition: var(--trasnition-duration);
          -o-transition: var(--trasnition-duration);
        }

        &:hover::before {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/* ! End Work Steps */
/* ! Start Events */
.events {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: white;

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
      width: 450px;

      @media(max-width: 767px) {
        display: none;
      }
    }

    .info {
      flex: 1;

      .time {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        gap: 20px;

        .unit {
          border: 1px solid #d4d4d4;
          text-align: center;
          width: 75px;
          border-radius: 6px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          -o-border-radius: 6px;
          transition: var(--trasnition-duration);
          -webkit-transition: var(--trasnition-duration);
          -moz-transition: var(--trasnition-duration);
          -ms-transition: var(--trasnition-duration);
          -o-transition: var(--trasnition-duration);

          span {
            display: block;

            &:first-child {
              font-size: 35px;
              padding: 15px 0;
              color: var(--main-color);
              font-weight: bold;
              text-align: center;
            }

            &:last-child {
              padding: 8px 10px;
              font-size: 13px;
              position: relative;

              &::before {
                content: "";
                position: absolute;
                width: calc(100% - 20px);
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                height: 1px;
                background-color: #d4d4d4;
              }
            }
          }

          &:hover {
            transform: translateY(-8px);
            -webkit-transform: translateY(-8px);
            -moz-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
            -o-transform: translateY(-8px);
            box-shadow: 0 2px 15px rgb(0, 0, 0, 0.2);
            border-color: var(--main-color);
            transition: var(--trasnition-duration);
            -webkit-transition: var(--trasnition-duration);
            -moz-transition: var(--trasnition-duration);
            -ms-transition: var(--trasnition-duration);
            -o-transition: var(--trasnition-duration);

            & span:last-child::before {
              background-color: var(--main-color);
            }
          }
        }
      }

      .title {
        text-align: center;
        margin: 40px 0 20px;
        font-size: 30px;
      }

      .description {
        text-align: center;
        line-height: 1.7;
        font-size: 19px;
        color: #777;
      }
    }

    .subscribe {
      width: 100%;
      margin-top: 20px;

      form {
        background-color: #f6f5f5;
        margin: 20px auto;
        padding: 30px 40px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        width: fit-content;
        display: flex;
        gap: 25px;

        @media(max-width: 767px) {
          flex-direction: column;
          max-width: 100%;
          padding: 20px;
        }

        input[type="email"] {
          outline: none;
          border: none;
          border-radius: 50px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          -ms-border-radius: 50px;
          -o-border-radius: 50px;
          padding: 20px;
          flex: 1;
          caret-color: var(--main-color);
          width: 380px;
          max-width: 100%;

          &::placeholder {
            transition: calc(var(--trasnition-duration) * 2);
            -webkit-transition: calc(var(--trasnition-duration) * 2);
            -moz-transition: calc(var(--trasnition-duration) * 2);
            -ms-transition: calc(var(--trasnition-duration) * 2);
            -o-transition: calc(var(--trasnition-duration) * 2);
          }

          &:focus::placeholder {
            opacity: 0;
          }
        }

        input[type="submit"] {
          background-color: var(--main-color);
          border: none;
          color: white;
          font-weight: bold;
          border-radius: 40px;
          -webkit-border-radius: 40px;
          -moz-border-radius: 40px;
          -ms-border-radius: 40px;
          -o-border-radius: 40px;
          padding: 0 22px;

          @media(max-width: 767px) {
            padding: 20px 30px;
            width: fit-content;
            margin: auto;
          }

          &:hover {
            background-color: var(--alt-color);
          }
        }
      }
    }
  }
}

/* ! End Events */
/* ! Start Pricing  */
.pricing {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: var(--background-dark);

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

    .box {
      box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
      background-color: white;
      position: relative;
      text-align: center;
      z-index: 1;
      transition: var(--trasnition-duration);
      -webkit-transition: var(--trasnition-duration);
      -moz-transition: var(--trasnition-duration);
      -ms-transition: var(--trasnition-duration);
      -o-transition: var(--trasnition-duration);

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 50%;
        width: 0;
        background-color: #f6f6f6;
        z-index: -1;
        transition: var(--trasnition-duration);
        -webkit-transition: var(--trasnition-duration);
        -moz-transition: var(--trasnition-duration);
        -ms-transition: var(--trasnition-duration);
        -o-transition: var(--trasnition-duration);
      }

      &::before {
        top: 0;
        left: 0;
      }

      &::after {
        bottom: 0;
        right: 0;
      }

      &:hover {

        &::before,
        &::after {
          width: 100%;
        }
      }

      .title {
        font-weight: bold;
        font-size: 26px;
        margin: 30px;
        letter-spacing: -1px;
      }

      img {
        width: 80px;
        margin-bottom: 30px;
      }

      .price {
        margin-bottom: 20px;

        .amount {
          display: block;
          font-size: 60px;
          font-weight: bold;
          margin-bottom: 5px;
          color: var(--main-color);
        }

        .time {
          color: #777;
        }
      }

      ul {
        text-align: left;

        li {
          padding: 20px;
          border-top: 1px solid #eee;

          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f560";
            font-weight: 900;
            margin-right: 10px;
            color: var(--main-color)
          }
        }
      }

      a {
        display: block;
        width: fit-content;
        border: 2px solid var(--main-color);
        color: var(--main-color);
        margin: 30px auto 40px;
        padding: 15px 20px;
        border-radius: 6px;
        font-weight: bold;
        transition: var(--trasnition-duration);
        -webkit-transition: var(--trasnition-duration);
        -moz-transition: var(--trasnition-duration);
        -ms-transition: var(--trasnition-duration);
        -o-transition: var(--trasnition-duration);

        &:hover {
          background-color: var(--alt-color);
          border-color: var(--alt-color);
          color: white;
        }
      }
    }

    .popular {
      position: relative;

      @media(min-width: 1200px) {
        top: -20px;
      }

      .label {
        position: absolute;
        writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
        background-color: var(--main-color);
        color: white;
        font-weight: bold;
        padding: 10px 10px 35px;
        right: 20px;
        font-size: 18px;

        &::before {
          content: "";
          position: absolute;
          border-width: 20px;
          border-style: solid;
          border-color: transparent transparent white transparent;
          bottom: 0;
          left: 0;
        }
      }

      &:hover .label {
        background-color: red;
      }
    }
  }
}

/* ! End Pricing  */
/* ! Start Videos */
.videos {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: white;

  .container {
    .holder {
      display: flex;
      justify-content: center;
      background-color: var(--background-dark);
      border: 1px solid #ddd;

      @media (max-width: 991px) {
        flex-direction: column;
      }

      .list {
        min-width: 300px;
        background-color: white;

        .name {
          display: flex;
          justify-content: space-between;
          padding: 20px;
          background-color: #f4f4f4;
          font-weight: bold;
          color: var(--main-color);
        }
      }

      ul {
        li {
          padding: 20px;
          border-top: 1px solid var(--section-background);
          cursor: pointer;
          transition: var(--trasnition-duration);
          -webkit-transition: var(--trasnition-duration);
          -moz-transition: var(--trasnition-duration);
          -ms-transition: var(--trasnition-duration);
          -o-transition: var(--trasnition-duration);

          &:hover {
            background-color: #fafafa;
            color: var(--main-color);
          }

          span {
            display: block;
            margin-top: 10px;
            color: #777;
          }
        }
      }

      .preview {
        background-color: #e2e2e2;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
          max-width: 100%;
        }

        .info {
          padding: 20px;
          background-color: white;
          margin-top: 10px;
        }
      }
    }
  }
}

/* ! End Videos */
/* ! Start Stats */
.stats {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: white;
  background-image: url("../images/stats.jpg");
  background-size: cover;
  min-height: 300px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
  }

  h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;

    .box {
      background-color: white;
      padding: 30px 15px;
      text-align: center;
      position: relative;
      opacity: 0.8;
      transition: var(--trasnition-duration);
      -webkit-transition: var(--trasnition-duration);
      -moz-transition: var(--trasnition-duration);
      -ms-transition: var(--trasnition-duration);
      -o-transition: var(--trasnition-duration);

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 2px;
        background-color: var(--main-color);
        transition: 1s;
        height: 0;
      }

      &::before {
        left: 0;
        bottom: 0;
      }

      &::after {
        top: 0;
        right: 0;
      }

      &:hover {
        opacity: 1;

        &::before,
        &::after {
          height: 100%;
        }
      }

      .number {
        display: block;
        font-size: 50px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      svg {
        display: block;
        margin: auto;
      }

      .K1 {
        display: inline-block;
        font-size: 50px;
        font-weight: bold;
        margin: 10px 0;
      }

      .K2 {
        display: inline-block;
        width: 20%;
        font-size: 50px;
        font-weight: bold;
        margin: 10px 0 10px -10px;
      }

      .text {
        color: var(--main-color);
        font-style: italic;
        font-size: 20px;
        display: block;
        font-weight: bold;
      }
    }
  }
}

/* ! End Stats */
/* ! Start Discount */
.discount {
  display: flex;
  flex-wrap: wrap;

  .image {
    background-image: url(../images/discount-background1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
    padding-bottom: 50px;

    @media(max-width: 991px) {
      flex-basis: 100%;
    }

    .content {
      text-align: center;
      padding: 20px 20px 0;
      color: white;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(23 135 224 / 97%);
        z-index: -1;
      }

      h2 {
        padding: 50px 0;
        font-weight: bold;
        font-size: 40px;
        letter-spacing: -2px;
      }

      p {
        max-width: 100%;
        padding: 10px;
        line-height: 1.6;
        font-size: 18px;
      }

      img {
        max-width: 100%;
        margin-top: 30px;
        padding-bottom: 20px;
      }
    }
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;

    .content {
      text-align: center;
      padding: 20px 20px 0;

      h2 {
        padding: 50px 0;
        font-weight: bold;
        font-size: 40px;
        letter-spacing: -2px;
      }

      form {
        padding-top: 10px;
        max-width: 350px;
        margin: auto;
        position: relative;
        z-index: 1;

        #phone-error,
        .name {
          text-align: left;
          font-size: 12px;
          padding: 0 10px 5px;
          color: red;
        }

        .input {
          width: 100%;
          margin-bottom: 20px;
          border: none;
          outline: none;
          caret-color: var(--main-color);
          background-color: #f9f9f9;
          border-bottom: 1px solid #ccc;
          transition: calc(var(--trasnition-duration) * 2);
          -webkit-transition: calc(var(--trasnition-duration) * 2);
          -moz-transition: calc(var(--trasnition-duration) * 2);
          -ms-transition: calc(var(--trasnition-duration) * 2);
          -o-transition: calc(var(--trasnition-duration) * 2);
          padding: 15px;

          &::placeholder {
            transition: calc(var(--trasnition-duration) * 2);
            -webkit-transition: calc(var(--trasnition-duration) * 2);
            -moz-transition: calc(var(--trasnition-duration) * 2);
            -ms-transition: calc(var(--trasnition-duration) * 2);
            -o-transition: calc(var(--trasnition-duration) * 2);
          }

          &:focus {
            &::placeholder {
              opacity: 0;
            }

            border-color: var(--main-color);
          }
        }

        select {
          padding: 8px !important;
        }

        textarea {
          height: 200px;
          resize: none;
        }

        [type="submit"] {
          margin-top: 20px;
          width: 100%;
          margin-bottom: 20px;
          border: none;
          outline: none;
          background-color: var(--main-color);
          padding: 15px;
          color: white;
          font-weight: bold;
          cursor: pointer;

          &:hover {
            background-color: var(--alt-color);
          }
        }
      }
    }
  }
}

/* ! End Discount */
/* ! Start Footer */
/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;

    .box {
      h3 {
        color: white;
        font-size: 50px;
        margin: 0 0 20px;
      }

      .social {
        display: flex;

        li {
          margin-right: 10px;

          a {
            background-color: #313131;
            color: #b9b9b9;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            font-size: 20px;
            transition: var(--trasnition-duration);
            -webkit-transition: var(--trasnition-duration);
            -moz-transition: var(--trasnition-duration);
            -ms-transition: var(--trasnition-duration);
            -o-transition: var(--trasnition-duration);

            svg {}
          }

          .facebook:hover {
            background-color: #1877f2;
          }

          .twitter:hover {
            background-color: #1da1f2;
          }

          .github:hover {
            background-color: #4078c0;
          }
        }
      }

      .text {
        margin-top: 20px;
        line-height: 2;
        color: #b9b9b9;
      }

      .links {
        li {
          padding: 15px 0;
          transition: var(--trasnition-duration);
          -webkit-transition: var(--trasnition-duration);
          -moz-transition: var(--trasnition-duration);
          -ms-transition: var(--trasnition-duration);
          -o-transition: var(--trasnition-duration);

          &:not(:last-child) {
            border-bottom: 1px solid #444;
          }

          &:hover {
            padding-left: 10px;

            a {
              color: white;
            }
          }

          a {
            color: #b9b9b9;
            transition: var(--trasnition-duration);
            -webkit-transition: var(--trasnition-duration);
            -moz-transition: var(--trasnition-duration);
            -ms-transition: var(--trasnition-duration);
            -o-transition: var(--trasnition-duration);

            &::before {
              font-family: "Font Awesome 5 Free";
              content: "\F101";
              font-weight: 900;
              margin-right: 10px;
              color: var(--main-color);
            }
          }
        }
      }

      .line {
        display: flex;
        align-items: center;
        color: #b9b9b9;
        margin-bottom: 30px;

        @media (max-width: 767px) {
          flex-direction: column;
        }

        svg {
          font-size: 25px;
          color: var(--main-color);
          margin-right: 10px;

          @media (max-width: 767px) {
            margin-right: 0;
            margin-bottom: 15px;
          }
        }

        .info {
          line-height: 1.7;
          flex: 1;

          span {
            display: block;
          }
        }
      }
    }

    .footer-gallery {
      img {
        width: 78px;
        border: 3px solid white;
        margin: 2px;
      }
    }
  }

  .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    font-weight: bold;
    border-top: 1px solid #444;

    .love {
      color: red;
    }

    .name {
      color: var(--main-color);

      &::after {
        content: "❤️";
        display: none;
      }

      &:hover,
      &:hover::after {
        color: red;
        font-size: 18px;
        display: unset;
      }
    }
  }
}

/* ! End Footer */
/* ! Start Animation */
@keyframes up-and-down {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: -30px;
  }
}

@keyframes bouncing {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flashing {

  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes change-background {

  0%,
  100% {
    background-image: url("../images/discount-background1.jpg");
  }

  50% {
    background-image: url("../images/discount-background2.jpg");
  }
}

/* ! End Animation */